        <div class="navbar">
        <div class="container">
            <a href="/">
            <h1 id="fetPinder">FetPinder</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                <img src="/assets/pawprint.png" id="paw"></a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <center>
        <h4>
        <strong>Hurray! You are Signed In</strong>
    <br>
    <br>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    </center>
    </h4>


<script>
    setTimeout(()=>{window.location="/"}, 3000);
</script>
    
    
 
