<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="/">
            <h1 id="fetPinder">FetPinder</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                <img src="/assets/pawprint.png" id="paw"></a>
        </div>
    </div>

    <div class="container">

        <div class="pawBackground">
            <div id="paw1">
                <div class="pawTextDiv" id="paw1TextPosition">
                    <h1 class="pawText" style="font-size:3vw;">Sign In</h1>
                </div>
            </div>
            <div id="paw2">
                <div class="pawTextDiv" id="paw2TextPosition">
                    <h1 class="pawText" style="font-size:3vw;">Search All Pets</h1>
                </div>
            </div>
            <div id="paw3">
                <div class="pawTextDiv" id="paw3TextPosition">
                    <h1 class="pawText" style="font-size:3vw;">Display All Pets</h1>
                </div>
            </div>
            <div id="paw4">
                <div class="pawTextDiv" id="paw4TextPosition">
                    <h1 class="pawText" style="font-size:3vw;">Search History</h1>
                </div>
            </div>
            <div id="paw5">
                <div class="pawTextDiv" id="paw5TextPosition">
                    <h1 class="pawText" style="font-size:6vw;">Find Your Dog!</h1>
                </div>
            </div>
            <div id="pawPrintImage">
                <img src="/assets/pawprint.svg">
            </div>

        </div>


    </div>

    <div class="navbar-fixed-footer">
        <h3 id="footer-header"><span id="fetPinder">© 2019 FetPinder</span></h3>
    </div>

    <script>
        $("#paw5").click(function () {
            window.location = "/survey";
        });
    </script>
</body>








</html>