
        <div class="navbar">
        <div class="container">
            <a href="/">
            <h1 id="fetPinder">FetPinder</h1>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                <img src="/assets/pawprint.png" id="paw"></a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <center>
        <h4>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email"><strong>Email Address<strong></label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
    <br>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    <i class ="fa fa-paw fa-4x"></i>
    </center>
    </h4>

   

 
