<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <h1>{{msg}}</h1>
        <h2>Survey Questions</h2>
        <hr>

        <h3><strong>Question 1</strong></h3>
        <h4>What kind of breed are you interested</h4>
        <select data-placeholder="" class="chosen-select" id="q1">
            <option value=""></option>
            <option value="Beagle">Beagle</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Poodle">Poodle</option>
            <option value="Pomeranian">Pomeranian</option>
            <option value="Pug">Pug</option>
            <option value="Shit tzu">Shit tzu</option>
            <option value="Saint Bernard">Saint Bernard</option>
            <option value="Pointer">Pointer</option>
            <option value="American Bulldog">American Bulldog</option>
            <option value="Cocker Spaniel">Cocker Spaniel</option>
            <option value="Yorkshire Terrier">Yorkshire Terrier</option>
            <option value="Bernese Mountain Dog">Bernese Mountain Dog </option>
            <option value="Doberman Pinscher">Doberman Pinscher</option>
            <option value="Bichon Frise">Bichon Frise</option>
            <option value="German Shepard Dog">German Shepard Dog</option>
            <option value="Border Collie">Border Collie</option>
            <option value="Great Dane">Great Dane</option>
            <option value="Boxer">Boxer</option>
            <option value="Labrador Retriever">Labrador Retriever</option>
            <option value="Greyhound">Greyhound</option>
        </select>

        <h3><strong>Question 2</strong></h3>
        <h4>What is ideal size of your Dog?</h4>
        <select data-placeholder="" class="chosen-select" id="q2">
            <option value=""></option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
            <option value="XL">Extra Large</option>
        </select>

        <h3><strong>Question 3</strong></h3>
        <h4>Would you like a Male or Female Dog?</h4>
        <select data-placeholder="" class="chosen-select" id="q3">
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <h3><strong>Question 4</strong></h3>
        <h4>Where are you located? Zip Code or Nearest City</h4>
        <p><b> ZIP / City </b></p>
        <input type="text" name="location" class="chosen-select" id='q4'>
        <br>


        <h3><strong>Question 5</strong></h3>
        <h4>What age Dog are you looking for?</h4>
        <select data-placeholder="" class="chosen-select" id="q5">
            <option value=""></option>
            <option value="Baby">Puppy</option>
            <option value="Young">Young</option>
            <option value="Adult">Adult</option>
            <option value="Senior">Senior</option>
        </select>

        <br>
        <br>

        <input type="submit" value="Submit" id="survey-submit">
        <script>
            $("#survey-submit").click(function () {
                event.preventDefault()
                console.log("hi")

                function validateForm() {
                    var isValid = true;
                    $(".chosen-select").each(function () {
                        if ($(this).val() === "") {
                            isValid = false;
                        }
                    });
                    return isValid;
                }

                if (validateForm()) {
                    var userData = {

                        breed: $("#q1").val(),
                        size: $("#q2").val(),
                        gender: $("#q3").val(),
                        location: $("#q4").val(),
                        age: $("#q5").val(),

                    };

                    console.log(userData)
                }
                else{
                    alert("Please fill out all questions")
                }
            });


        </script>


</body>

</html>