<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>



    <div class="container">
        <h2>Survey Questions</h2>
        <hr>

        <h3><strong>Question 1</strong></h3>
        <h4>What type of home/living space do you have?</h4>
        <select data-placeholder="" class="chosen-select" id="q1">
            <option value=""></option>
            <option value="1">Apartment</option>
            <option value="2">Small House</option>
            <option value="3">Large House</option>
        </select>

        <h3><strong>Question 2</strong></h3>
        <h4>How big is your yard?</h4>
        <select data-placeholder="" class="chosen-select" id="q2">
            <option value=""></option>
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="3">Large</option>
        </select>

        <h3><strong>Question 3</strong></h3>
        <h4>Where is your home</h4>
        <select data-placeholder="" class="chosen-select" id="q3">
            <option value=""></option>
            <option value="1">Downtown </option>
            <option value="2">Suburb or Small Town</option>
            <option value="3">The Woods</option>
        </select>

        <h3><strong>Question 4</strong></h3>
        <h4>How long would your dog be alone each week?</h4>
        <select data-placeholder="" class="chosen-select" id="q4">
            <option value=""></option>
            <option value="1">Not at all</option>
            <option value="2">10-20 Hours</option>
            <option value="3">30-40 Hours</option>
        </select>

        <h3><strong>Question 5</strong></h3>
        <h4>What is your age group?</h4>
        <select data-placeholder="" class="chosen-select" id="q5">
            <option value=""></option>
            <option value="1">10-30</option>
            <option value="2">30-50</option>
            <option value="3">Over 50</option>
        </select>

        <h3><strong>Question 6</strong></h3>
        <h4>What is the age of the youngest child living or visiting in your home?</h4>
        <select data-placeholder="" class="chosen-select" id="q6">
            <option value=""></option>
            <option value="1">No Children</option>
            <option value="2">Under 5</option>
            <option value="3">5 and Up</option>
        </select>

        <h3><strong>Question 7</strong></h3>
        <h4>How Active are You?</h4>
        <select data-placeholder="" class="chosen-select" id="q7">
            <option value=""></option>
            <option value="1">Sedentary</option>
            <option value="2">Moderately Active</option>
            <option value="3">Very Active</option>
        </select>

        <h3><strong>Question 8</strong></h3>
        <h4>How energetic should your dog be?</h4>
        <select data-placeholder="" class="chosen-select" id="q8">
            <option value=""></option>
            <option value="1">You expect me to a catch a what?</option>
            <option value="2">That was fun, throw it again</option>
            <option value="3">What do you mean you are tired, its only been 3 hours?</option>
        </select>

        <h3><strong>Question 9</strong></h3>
        <h4>How much money are you willing to spend each week on food?</h4>
        <select data-placeholder="" class="chosen-select" id="q9">
            <option value=""></option>
            <option value="1">$10</option>
            <option value="2">$25</option>
            <option value="3">More than $25</option>
        </select>

        <h3><strong>Question 10</strong></h3>
        <h4>Do you want a dog that will protect your property?</h4>
        <select data-placeholder="" class="chosen-select" id="q10">
            <option value=""></option>
            <option value="1">No</option>
            <option value="2">Some barking would be nice</option>
            <option value="3">Yes, I want a "Beware of Dog" dog</option>
        </select>

        <br>


</body>

</html>