/* General App Styling */

html {
  height: 100%;
}

body {
  position: relative;
  font-family: PuppyBellies;
  background-color:#E1E8ED;
  height:100vh;
}

h3{
  margin-bottom: 0px;
}

#mainContainer{
  height: 100%
}

@font-face{
  font-family: PuppyBellies;
  src: url('PuppyBellies.ttf');
}

.list-group-item {
  line-height: 2.5;
}

#signIn{
  position:absolute;
  margin:0px 5px 0px 0px;
  right:20%;
  bottom:20%;
 
}

#paw{
  position:absolute;
  margin:5px;
  right:18%;
  bottom:25%;
}

h3 {
  color:white;
}


.navbar {
  background-color:#56ad90;
  height:auto;
  margin:0px 0px 0px 0px;
  width:100%;
  z-index:1;
  
}

#fetPinder{
  font-family: 'Fredoka One', cursive;
  color:white;
}

#navDescription{
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
}

.signInDiv{
  position:absolute;
  width:100%;
  height:100%;
}








/* Home Page Paw Print Styling */


.pawBackground{
height:100%;
width:100%;
}

#pawGroup{
 position: relative;
 height:100vh;
 max-height:600px;
 min-height:600px;
 width:100%;
 z-index:9;
}

#pawPrintImage{
  position:relative;
  top:0%;
  height:100%;
  width:100%;
  max-width:1340px;
}

#pawPrintImage img{
  position: absolute;
  width:100%;
  max-height:600px;
  max-width:1340px;
  min-height:40%;
  height:100%;

}

.pawText{
  color:white;
  text-align:center;
  font-size:2em;
}

#bigPawText{
  font-size:3em;
}


#paw1{
  position: absolute;
  /* border:1px solid blueviolet; */
  top:30%;
  left:23%;
  width: 13%;
  height: 19%;
}

#paw1TextPosition{
  position:absolute;
  top: 35%;
  left:15%;
}

#paw2{
  position: absolute;
  /* border:1px solid blueviolet; */
  top:11%;
  left:37%;
  width: 14%;
  height: 24%;
}

#paw2TextPosition{
  position:absolute;
  top: 30%;
  left:0%;
}

#paw3{
  position: absolute;
  /* border:1px solid blueviolet; */
  top:18%;
  left:54%;
  width: 13%;
  height: 22%;
}

#paw3TextPosition{
  position:absolute;
  top: 30%;
  left:3%;
}

#paw4{
  position: absolute;
  /* border:1px solid blueviolet; */
  top:44%;
  left:63%;
  width: 14%;
  height: 20%;
}

#paw4TextPosition{
  position:absolute;
  top: 30%;
  left:5%;
}

#paw5{
  position: absolute;
  /* border:1px solid blueviolet; */
  left:34%;
  top:54%;
  width: 28%;
  height: 35%;
}

#paw5TextPosition{
  position:absolute;
  top: 30%;
  left:0%;
  right:0%;
}




/* Mobile Sign Up */
#pawPrintSignUp{
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSignUp img{
  position:absolute;
  width:45%;
  margin: 0 30% 0 30%;
}


pawPrintSignUpUrl{
  height:100%;
  float:left;
}




/* Mobile Take Survey */

#pawPrintSurvey{
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSurvey img{
  float:right;
  width:50%;
}

#pawPrintSurveyUrl{
  width:100%;
}

#pawPrintSurveyUrl h1{
  float:right;
  right:5%;
  bottom:45%;
}


/* Mobile Display All */

#pawPrintDisplay{
  height:120px;
  margin:0px 0px 50px 0px;
}

#pawPrintDisplay img{
  float:left;
  width:50%;
}



/* Mobile Search For Pet */
#pawPrintSearch {
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSearch img{
  float:right;
  width:50%;
}


/* Mobile Search History */

#pawPrintHistory{
  height:120px;
}
#pawPrintHistory img{
  float:left;
  width:50%;
}

#pawPrintHistory h1{
  float:left;
}





/* Footer Nav Bar Styling */

.footerTest{
  margin-top: 5px;
  bottom:0;
  width:100%;
  height:auto;
  color:white;
  background-color:#56ad90;
  text-align:center;
  
}

#footer-header{
  padding:10px;
}





/*Survey Styling*/

.text{
  font-weight: bold;
  color:black;
}
.survey-question-one{
  font-weight: bold;
  color: black;
}

.survey-question-two{
  font-weight: bold;
  color:black
}

.survey-question-three{
  font-weight: bold;
  color:black
}

.survey-question-four{
  font-weight: bold;
  color: black
}

.survey-question-five{
  font-weight: bold;
  color:black
}
.petcard{
  border-radius: 25px;
  background-image: url("greenpaws.gif");
  padding: 20px; 
  color: #000000;  
  border-style: dotted;
  text-shadow: 1px 1px rgb(255, 255, 255);
  border-width: thick;
  display: block;
  width: 100%;
}
.breed-details{
  margin-top: 15px;
}

#pet-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.survey-container{
  padding: 20px;
border: 30px;
border-style: ridge;
/* border-image: url("pawprint.png"); */
}

.question-container{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr
}

.previous-surveys{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr
}

.submit-container{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  width: 100%;
  height: 60px;
  background-color: #56ad90;
}





/* Media Queries */

@media only screen and (max-width: 990px) {
  #pawGroup{
    position: relative;
    top:10%;
    height:100vh;
    max-height:600px;
    width:100%;
    z-index:9;
   }

  .pawText{
    font-size:2em;
  }

  #bigPawText{
    font-size:3em;
  }
  #paw1{
    top:17%;
    left:7%;
    width: 21%;
    height: 23%;
   }
  
   #paw2{
    top:0%;
    left:28%;
    width: 24%;
    height: 25%;
   }
  
   #paw3{
    top:8%;
    left:55%;
    width: 24%;
    height: 20%;
   }
  
   #paw4{
    top:33%;
    left:70%;
    width: 22%;
    height: 20%;
   }
  
   
    #paw4TextPosition{
    top: 23%;
    left:8%;
    }
  
    #paw5{
    left:25%;
    top:44%;
    width: 43%;
    height: 34%;
    }
  
}


@media only screen and (max-width: 767px) {
  #pawGroup{
    position: relative;
    top:14%;
    height:100vh;
    max-height:600px;
    width:100%;
    z-index:9;
   }

  .pawText{
    font-size:1em;
  }

  #bigPawText{
    font-size:2em;
  }
  #paw1{
    top:15%;
    left:2%;
    width: 23%;
    height: 16%;
   }
  
   #paw2{
    top:0%;
    left:26%;
    width: 26%;
    height: 20%;
   }

   #paw2TextPosition{
    top: 30%;
    left:11%;
    }

   #paw3{
    top:3%;
    left:58%;
    width: 24%;
    height: 22%;
   }
  
   #paw4{
    top:26%;
    left:75%;
    width: 22%;
    height: 18%;
   }
  
   
    #paw4TextPosition{
    top: 32%;
    left:8%;
    }
  
    #paw5{
    left:25%;
    top:32%;
    width: 43%;
    height: 33%;
    }
  
}


@media only screen and (max-width: 500px) {
  #pawGroup{
    position: relative;
    top:21%;
    height:100vh;
    max-height:600px;
    width:100%;
    z-index:9;
   }

  .pawText{
    font-size:1em;
  }

  #bigPawText{
    font-size:2em;
  }
  #paw1{
    top:13%;
    left:2%;
    width: 23%;
    height: 11%;
   }
  
   #paw2{
    top:1%;
    left:27%;
    width: 24%;
    height: 15%;
   }
  
   #paw3{
    top:6%;
    left:57%;
    width: 24%;
    height: 13%;
   }
  
   #paw4{
    top:20%;
    left:75%;
    width: 22%;
    height: 11%;
   }
  
   
    #paw4TextPosition{
    top: 23%;
    left:8%;
    }
  
    #paw5{
    left:24%;
    top:24%;
    width: 50%;
    height: 20%;
    }
  
}

@media only screen and (max-width: 400px) {
  #pawGroup{
    position: relative;
    top:20%;
    height:100vh;
    max-height:600px;
    width:100%;
    z-index:9;
   }

  .pawText{
    font-size:1em;
  }

  #bigPawText{
    font-size:2em;
  }
  #paw1{
    top:13%;
    left:2%;
    width: 23%;
    height: 11%;
   }
  
   #paw2{
    top:1%;
    left:27%;
    width: 24%;
    height: 15%;
   }
  
   #paw3{
    top:6%;
    left:57%;
    width: 24%;
    height: 13%;
   }
  
   #paw4{
    top:20%;
    left:75%;
    width: 22%;
    height: 11%;
   }
  
   
    #paw4TextPosition{
    top: 23%;
    left:8%;
    }
  
    #paw5{
    left:24%;
    top:24%;
    width: 50%;
    height: 20%;
    }
  
}

@media only screen and (max-width: 374px) {
  #pawGroup{
    position: relative;
    top:24%;
    height:100vh;
    max-height:600px;
    width:100%;
    z-index:9;
   }

  .pawText{
    font-size:1em;
  }

  #bigPawText{
    font-size:2em;
  }
  #paw1{
    top:13%;
    left:2%;
    width: 23%;
    height: 11%;
   }
  
   #paw2{
    top:1%;
    left:27%;
    width: 24%;
    height: 15%;
   }
  
   #paw3{
    top:6%;
    left:57%;
    width: 24%;
    height: 13%;
   }
  
   #paw4{
    top:20%;
    left:75%;
    width: 22%;
    height: 11%;
   }
  
   
    #paw4TextPosition{
    top: 23%;
    left:8%;
    }
  
    #paw5{
    left:24%;
    top:24%;
    width: 50%;
    height: 20%;
    }
  
}



#learnmorebutton {
  background-color: #e4e4e4;
  border-color: #000000;
}
#survey-submit {
  background-color: #e4e4e4;
  border-color: #000000;
  border-radius: 25px;
}

