.list-group-item {
  line-height: 2.5;
}

.navbar {
  background-color:white;
  height:auto;
  border-bottom:solid 4px #004C81;
  margin:0px 0px 20px 0px;
  padding:10px 0px 0px 0px;
  width:100%;
  
}

body {
  background-color: #eeeeee;
}

.container {
  background-color: #eeeeee;
}

#nav-container {
background-color:white;
}

.navbar-fixed-footer{
  position:fixed;
  bottom:0px;
  width:100%;
  height:auto;
  color:white;
  background-color:#3F3F3F;
  text-align:center;
  
}

#footer-header{
  padding:10px;
}

h3 {
  color:white;
}



.grid-container-top {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container-second-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container-third-row {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}