/* General App Styling */

html {
  height: 100%;
}

body {
  position: relative;
  font-family: PuppyBellies;
  background-color:#E1E8ED;
  height:100vh;
  /* overflow-x: hidden; */
  /* -webkit-text-size-adjust: auto; */
}

h3{
  margin-bottom: 0px;
}

#mainContainer{
  height: 100%
}

@font-face{
  font-family: PuppyBellies;
  src: url('PuppyBellies.ttf');
}

.list-group-item {
  line-height: 2.5;
}

#signIn{
  position:absolute;
  right:10%;
  bottom:10%;
 
}

h3 {
  color:white;
}

.navbar {
  background-color:#56ad90;
  height:auto;
  /* border-bottom:solid 4px #004C81; */
  margin:0px 0px 0px 0px;
  width:100%;
  z-index:1;
  
}

#fetPinder{
  font-family: 'Fredoka One', cursive;
  color:white;
}

#navDescription{
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
}









/* Home Page Paw Print Styling */
#paw{
 justify-content:left;
}

.pawBackground img{
margin:0 auto;
width: 480px;
}

.pawBackground{

margin: 0 auto;

/* left:27%; */
width: 80%;
}

#pawPrintImage{
width: 480px;
  margin: 0 auto;
}

.pawText{
  color:white;
  text-align:center;
  font-size:2em;
}

#bigPawText{
  font-size:3em;
}

.pawTextDiv{
  position:relative;
}

#paw1{
  position: absolute;
  top:28%;
  right: 85%;
  border:1px solid blueviolet;
  width: 15%;
  height: 18%;
}

#paw1TextPosition{
  position:absolute;
  top: 27%;
  left:13%;
}

#paw2{
  position: absolute;
  top:9%;
  right: 69%;
  border:1px solid blueviolet;
  width: 15%;
  height: 25%;
}

#paw2TextPosition{
  position:absolute;
  top: 23%;
  left:0%;
}

#paw3{
  position: absolute;
  top:15%;
  right: 51%;
  border:1px solid blueviolet;
  width: 14%;
  height: 22%;
}

#paw3TextPosition{
  position:absolute;
  top: 20%;
  right:7%;
}

#paw4{
  position: absolute;
  top:39%;
  right: 40%;
  border:1px solid blueviolet;
  width: 16%;
  height: 20%;
}

#paw4TextPosition{
  position:absolute;
  top: 15%;
  left:0%;
}

#paw5{
  position: absolute;
  top:48%;
  right:57%;
  border:1px solid blueviolet;
  width: 30%;
  height: 35%;
}

#paw5TextPosition{
  position:absolute;
  top: 18%;
  left:0%;
  right:0%;
}

#pawGroup{
  position: absolute;
  width: 500px;
left: 24%;
  height: 100%;
}

/* Mobile Paw Styling */

.mobilePawContainer{
 height: calc(100vh - 60px);
}

.mobileBackground{
  position:relative;
 height: 100%;
}




/* Mobile Sign Up */
#pawPrintSignUp{
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSignUp img{
  width:45%;
}


pawPrintSignUpUrl{
  height:100%;
  float:left;
}




/* Mobile Take Survey */

#pawPrintSurvey{
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSurvey img{
  float:right;
  width:50%;
}

#pawPrintSurveyUrl{
  width:100%;
}

#pawPrintSurveyUrl h1{
  float:right;
  right:5%;
  bottom:45%;
}


/* Mobile Display All */

#pawPrintDisplay{
  height:120px;
  margin:0px 0px 50px 0px;
}

#pawPrintDisplay img{
  float:left;
  width:50%;
}



/* Mobile Search For Pet */
#pawPrintSearch {
  height:120px;
  margin: 0px 0px 50px 0px;
}

#pawPrintSearch img{
  float:right;
  width:50%;
}


/* Mobile Search History */

#pawPrintHistory{
  height:120px;
}
#pawPrintHistory img{
  float:left;
  width:50%;
}

#pawPrintHistory h1{
  float:left;
}





/* Footer Nav Bar Styling */

.footerTest{
  margin-top: 100px;
  bottom:0;
  width:100%;
  height:auto;
  color:white;
  background-color:#56ad90;
  text-align:center;
  
}

#footer-header{
  padding:10px;
}





/*Survey Styling*/

.text{
  color:black;
}
.survey-question-one{
  color: black;
}

.survey-question-two{
  color:black
}

.survey-question-three{
  color:black
}

.survey-question-four{
  color: black
}

.survey-question-five{
  color:black
}
.petcard{
  border-radius: 25px;
  background-image: url("greenpaws.gif");
  padding: 20px; 
  color: #000000;  
  border-style: dotted;
  text-shadow: 1px 1px rgb(255, 255, 255);
  border-width: thick;
  display: block;
  width: 100%;
}
.breed-details{
  margin-top: 15px;
}

#pet-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}

.survey-container{
  padding: 20px;
border: 30px;
border-style: ridge;
/* border-image: url("pawprint.png"); */
}

.question-container{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr
}

.previous-surveys{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr
}

.submit-container{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  width: 100%;
  height: 60px;
  background-color: #56ad90;
}


/* Media Queries */

/* Cell Phones */

@media only screen and (max-width: 500px) {
  #pawPrintImage{ display: none;}
  .pawText {display: none;}
  #paw1 {display:none;}
  #paw2 {display:none;}
  #paw3 {display:none;}
  #paw4 {display:none;}
  #paw5 {display:none;}
}

@media only screen and (max-width: 1200px) {
  .pawText{font-size:2em }

  #bigPawText{font-size:3em}

  #paw1TextPosition{
    position:absolute;
    top: 10%;
    left:9%;
  }
  

  
}

@media only screen and (max-width:995px){
  .pawText{font-size:1em }

  #bigPawText{font-size:2em}

  #paw1TextPosition{
    position:absolute;
    top: 15%;
    left:21%;
  }
  
}


@media only screen and (max-width:770px){
  .pawText{font-size:1em }

  #bigPawText{font-size:em}

  #paw1TextPosition{
    position:absolute;
    top: 27%;
    left:21%;
  }
  
}


@media only screen and (min-width: 415px) {
  .mobilePawContainer{
    display:none;
  }

}

#learnmorebutton {
  background-color: #e4e4e4;
  border-color: #000000;
}
#survey-submit {
  background-color: #e4e4e4;
  border-color: #000000;
  border-radius: 25px;
}

